@import "./../../../../styles/_cstm-variable.scss";

.mat-column-fac_org,
.mat-column-fac_name {
    text-transform: capitalize;
}

.btn_Secondary{
  margin:0 0 0 5px !important;
  @include btn-main;
}

span.iconalign a {
  cursor: pointer;
}