.diagnosis span {
  font-size: 15px;
  padding-left: 8px;
}

button.mat-basic {
  background: #f6fafc;
}

.pop_heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;

  h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    // color: #1975b8;
  }

  span {
    color: #908f8f;
    cursor: pointer;
  }
}

.cancel_btn {
  height: auto !important;
  font-size: 16px !important;
  color: #FF6161 !important;
  line-height: normal !important;
  padding: 0 !important;
  background: transparent !important;
  font-family: 'SFProText-Semibold' !important;

  &:hover {
    opacity: 0.7;
    background: transparent !important;
  }
}

.done_btn {
  height: auto !important;
  font-size: 16px !important;
  color: #4791C6 !important;
  line-height: normal !important;
  padding: 0 !important;
  background: transparent !important;
  font-family: 'SFProText-Semibold' !important;

  &:hover {
    opacity: 0.7;
    background: transparent !important;
  }
}