<mat-card class="view-height">
    <mat-card-header>
        <mat-card-title>Organizations</mat-card-title>
        <mat-card-subtitle class="w-100 mb-0">
            <div class="d-flex justify-content-between align-center">
                <div class="w-30 pr-15">
                    <mat-form-field class="w-100">
                        <input matInput type="text" name="search" class="form-control" [(ngModel)]="search" #searchInput
                            id="searchInput" placeholder="Search by Organization" />
                    </mat-form-field>
                </div>
                <div class="w-70 pl-15">
                    <div class="example-button-row text-right w-100">
                        <button *ngIf="_commonService.checkPrivilegeModule('organization','add')" mat-stroked-button class="ml-3 btn_Secondary" (click)="addForm()">Add New</button>

                        <button *ngIf="_commonService.checkPrivilegeModule('organization','export')" mat-stroked-button class="ml-3 btn_Secondary" (click)="exportOrganization()">Export</button>

                        <button *ngIf="_commonService.checkPrivilegeModule('organization','delete')"#deleteButton mat-stroked-button class="ml-3 btn_Secondary" (click)="delete()">Delete</button>
                        <!-- <button *ngIf="_commonService.checkPrivilegeModule('organization','add')" mat-stroked-button (click)="achieve()" class="ml-3 btn_Secondary">Achive</button>
                        <button *ngIf="isArcheive" #restoreButton mat-stroked-button  (click)="deleteRestore()" class="ml-3 btn_Secondary">Restore</button>
                        <button *ngIf="isArcheive"  mat-stroked-button (click)="defArchieve()" class="ml-3 btn_Secondary">UnAchive</button> -->
                    </div>
                </div>
            </div>

        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="view-height-center">
        <div class="table-responsive mt-20 header-fixed-table-wrpper listing">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"
                (matSortChange)="sortData($event)" [matSortActive]="sortActive" [matSortDirection]="sortDirection">
                <ng-container matColumnDef="checkbox">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" [(ngModel)]="checked" (click)="selectAll()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let elements">
                        <mat-checkbox color="primary" [(ngModel)]="elements.checked"
                            (click)="selectElement(elements._id,elements.checked)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
                    <th mat-header-cell *matHeaderCellDef [mat-sort-header]=" column.sort?column.id:null"
                        [disabled]="column.sort?false: true"> {{column.value}} </th>
                    <td mat-cell *matCellDef="let element">
                        <span class="iconalign" *ngIf="column.id=='org_name'" (click)="editOrganization(element._id)"> <a>{{element[column.id]}}</a> </span>
                        <span *ngIf="column.id!='org_name'">{{ column.value == 'Phone' ? (element[column.id] | mask: '(000) 000-0000') : (element[column.id]) }} </span>

                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let elements">
                        <button *ngIf="_commonService.checkPrivilegeModule('organization','edit')" mat-mini-fab color="primary" (click)="editOrganization(elements._id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="_commonService.checkPrivilegeModule('organization','delete')" mat-mini-fab color="primary" (click)="deleteOrganization(elements._id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <!-- <button *ngIf="_commonService.checkPrivilegeModule('organization','add')" mat-mini-fab color="primary" (click)="restoreOrg(elements._id)">
                            <mat-icon>restore</mat-icon>
                        </button> -->
                        <!-- <button mat-mini-fab color="primary" (click)="viewOrganization(elements._id)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </mat-card-content>
    <div class="w-100 totalCount">
		<div class="w-90">
			<mat-card-actions>
				<mat-paginator [length]=count [pageSize]=pagiPayload.pageSize [pageSizeOptions]="[10, 50, 100, 500]"
					[pageIndex]=pagiPayload.pageIndex (page)="getServerData($event)"></mat-paginator>
			</mat-card-actions>
		</div>
		<div class="w-10 tcText">
			<span class="span-pos" (click)="getTotalCount()">Total Count:</span>
            <mat-spinner *ngIf="isLoading" class="countPos" [diameter]="20"></mat-spinner>
            <span *ngIf="isClicked" class="countPos">{{ totalCount }}</span>
		</div>
	</div>
</mat-card>
<button mat-mini-fab color="primary" class="toptoscroll" *ngIf="isShow" (click)="gotoTop()">
    <mat-icon>keyboard_arrow_up</mat-icon>
</button>