@import "./../../../../styles/_cstm-variable.scss";

.message {
    width: 100%;
    display: block;
    text-align: center;
}

td.mat-cell.cdk-column-care_notes {
    white-space: unset;
}

.mat-column-name,
.mat-column-user,
.mat-column-care,
.mat-column-outcome {
    text-transform: capitalize;
}

.tags {
    padding: 0;
    margin: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    li {
        margin-right: 15px;
        color: #777;
        @include secondary-text-regular;
        display: flex;
        align-items: center;
        span {
            width: 20px;
            height: 20px;
            display: inline-block;
            line-height: 20px;
            color: #fff;
            font-weight: 600;
            background-color: #1975b8;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            margin-right: 5px;
            border-radius: 5px;
        }
    }
}

.cdk-column-status {
    span {
        width: 20px;
        height: 20px;
        display: inline-block;
        line-height: 20px;
        color: #fff;
        font-weight: 600;
        background-color: #1975b8;
        font-size: 12px;
        text-transform: uppercase;
        text-align: center;
        margin-right: 5px;
        border-radius: 5px;
    }
}

.cdk-column-find,
.cdk-column-room {
    max-width: 60px;
    min-width: 60px;
    width: 60px;
}

.mat-column-level {
    max-width: 80px;
    min-width: 80px;
    width: 80px;
}

.btn_Secondary{
    margin:0 0 0 5px !important;
    @include btn-main;
}

.message{
    @include regular-text;
}

.shifttimencreated {
    .shifttime {
        font-size: 20px !important;
        font-family: "SFProDisplay-Bold" !important;
        h4 {
            margin: 0;
        }
    }
}
.shifttimencreated {
    display: flex;
    justify-content: space-between;
    background: #1975B8;
    padding: 15px;
    color: #BFE7F6;
    border-radius: 5px;
    margin-top: 40px !important;
    .shifttime {
        h4 {
            margin: 0 0 5px 0;
            color: #fff;
            font-weight: 400;
        }

        span {
            color: #BFE7F6;
        }
    }

    .repname {
        display: flex;
        align-items: center;

        h3 {
            margin: 0;
            font-weight: 400;
            color: #fff;
        }
    }
}

.export_image {
    height: 36px;
    cursor: pointer;
    margin-left: 10px;
}

.export_imagepdf {
    height: 43px;
    cursor: pointer;
    margin-left: 2px;
}

.export_imagepdf_unselect {
    height: 43px;
    margin-left: 2px;
}