@import "./../../../styles/_cstm-variable.scss";

.login-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // -webkit-box-align: center;
    // -ms-flex-align: center;
    // align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100%;
    position: relative;
    padding: 0px 15px;
    height: 100vh;

    h2 {
        font-size: 20px;
        color: #000;
        font-weight: 500;
        margin-bottom: 25px;
    }

    h5 {
        font-weight: 500;
    }

    a {
        color: #1975B8;
        cursor: pointer;

        &:hover {
            color: #28A5DE;
        }
    }

    .text-center {
        text-align: center;
    }

    .content {
        max-width: 340px;
        width: 100%;

        .app-name {
            margin-top: 0px;

            img {
                max-width: 100%;
                width: 185px;
            }
        }

        .login-form {
            padding: 25vh 0px 20px;
            max-width: 340px;
            width: 100%;
        }
    }
}

.invalid-password {
     color: #EF4036;
    margin-bottom: 5px;
}

.btn_login {
    @include btn-primary-done;
}