<div class="login-page">
    <div class="content">
        <form class="login-form" (ngSubmit)="onSubmit()">
            <div class="text-center">
                <h2 class="app-name mb-15"><img src="assets/logo/logo.svg" /></h2>
                <!-- <h2 class="mt-0 mb-15">Forgot Password</h2> -->
                <div>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Enter Username</mat-label>
                        <input matInput placeholder="Enter Username" [(ngModel)]="username" name="username" required
                            maxlength="50">
                        <!-- <mat-error *ngIf="isSubmitted && getForm.client_key.errors" class="text-left">
                <div *ngIf="getForm.client_key.errors.required">Organization id is
                  required</div>
              </mat-error> -->
                    </mat-form-field>
                    <div>
                        <button mat-raised-button color="primary" class="mt-0 btn_login">Done</button>
                    </div>
                    <h5>
                        <a (click)="login()">Login</a>
                        <span class="color-grey"> | </span>
                        <a (click)="openDialog()">Contact</a>
                    </h5>
                    <p class="color-grey small-font">© {{date| date:'yyyy'}} Koble Technologies</p>
                    <p class="color-grey small-font">Evey™ is a Trade Mark of Koble Technologies.</p>
                </div>
            </div>
        </form>
    </div>
</div>