

@import "./../../../../styles/_cstm-variable.scss";
.pop_heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    h3 {
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        color: #1975b8;
    }
    span {
        // color: #908f8f;
        cursor: pointer;
    }
}

.rolestable td .mat-checkbox{
	padding:5px 2px;
    display: block;
}

.rolestable, .rolestable th{ border: 0;}
.rolestable td{border:1px solid #e1e1e1;
	padding: 2px 10px;
	text-align: center;
}
.rolestable tr.headd th{  
	padding-top: 5px;
  border: 1px solid #848484;
  padding-bottom: 5px;
  background: #e1e1e1;
}

.rolestable tr.headd td{  
	padding-top: 5px;
  border: 1px solid #848484;
  padding-bottom: 5px;
  background: #e1e1e1;
}

// .rolestable tr.headd th:nth-of-type(2),.rolestable tr.headd th:nth-of-type(1){
// 	background: #e1e1e1;
// }
//  .rolestable tr.headd th:nth-of-type(n+3){
// 	background: #d7d7d7;
// }

.rolestable tr{
	border:1px solid #e1e1e1
}

.newrole{
    max-height: 400px;
    overflow-y: auto;
    mat-list-item{
        min-height: 48px;
        padding: 10px 0;
        height: auto;
    }
}

.hidden{
  display: none;
}

.thebutton {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0;
      background: #1975b8;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
    }
    button {
      background: #f6fafc;
    }
}

.app_detail { 

@include sub-heading ;

}

.pop_heading { 

h3 { @include sub-heading; }

 }

.btn_Secondary{
  margin:0 0 0 5px !important;
  @include btn-main;
}

.btn_window_cancle{
  @include window_cancel;

  &.mat-button{
    background:transparent !important
  }
}
.btn_window_done{
  @include window_done;
  &.mat-button{
    background:transparent !important
  }
}

.custom_flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn_main_cancle{
    @include btn-primary-cancle;
    margin: 0 !important;
}

.btn_main_done{
    margin: 0 0 0 5px !important;
    @include btn-primary-done;
    margin: 0 !important;
}

.permission_table {
    width: 100%;
    max-height: 675px;
    overflow: auto;
    display: block;
}

.permission_table thead tr  {
  position:sticky;
  top:0px;
  left:0px;
  z-index: 10;
}
.permission_table thead tr:last-child  {
  top:31px;
}
// .permission_table thead tr.headd .first-column:first-child {
//   position:sticky;
//   top:0;
//   left:0;
//   z-index: 10;
// }
// .permission_table thead tr.headd:last-child .first-column:first-child{
//   position:sticky;
//   top:31px;
//   left:0;
//   z-index: 5;
// }
.first-column{
  position:sticky;
  top:0px;
  left:0px;
}
.sec-column{
  position:sticky;
  top:31px;
  left:0px;
}

.permission_table tbody tr > td{
  position:sticky;
  top:0;
  left:0;
  z-index:9;
  background-color: #fff;
}

