@import "./../../../../styles/cstm-variable";


.report-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  .grid {
    max-width: calc(25% - 15px);
    flex: 1;
    padding: 10px 10px 10px 10px;
    // box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    // background-color: #f1f2f2;
    // border-radius: 5px;
    background-color: #DBF3FC;
    border-radius: 5px;
    border: 1px solid #28A5DE;

    .title {
      color: #1975B8;
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }

    .count {
      color: #1975B8;
      font-weight: 500;
      font-size: 30px;
      margin: 0;
      text-align: left;

      span {
        color: #1975B8;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
      }
    }

    // &.color-blue {
    //     .count {
    //         color: #28A5DE;
    //     }
    // }
  }
}

.head-page {
  h4 {
    color: #000;
  }
}

.table {
  // table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  background: white;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  .text-center {
    text-align: center !important;
  }
}

.table thead th {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  color: #000;
  font-size: 14px;
  font-weight: bold;
  height: 56px;
  text-align: left;

  &.level {
    width: 70px;
  }
}

.table-responsive.padding20 {
  padding: 20 24px;
}

.p-15 {
  padding: 15px;
}

.table tbody td {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  font-size: 14px;
  word-break: break-word;
  height: 46px;
}

.mat-expansion-panel-header {
  height: 44px !important;
}

.mat-expansion-panel .table td,
.mat-expansion-panel .table th {
  border: 1px solid #eee;
}

.mat-expansion-panel .table tr td:first-child {
  font-weight: 600;
}

hr {
  border: 1px solid #ddd
}

.table td,
.table th {
  padding: .75rem 12px;
  vertical-align: middle;
}

.datareport {
  padding: 10px 24px;
  font-size: 16px;
}

.addional_notes {
  padding: 10px 24px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pl-20 {
  padding-left: 24px;
}

.table-wrapper {
  h6 {
    font-size: 16px;
    margin: 30px 0px 10px 0;
    font-weight: 700;
    color: #000;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-auto {
  margin-left: auto;
}

.align-items-center {
  align-items: center;
}

// pdf table
.report-wrapper-pdf {
  display: none;

  .table {
    border-collapse: collapse;
    width: 100%;
    color: #000;
  }
}

// @media screen and (max-width: 1280px) {
//     .report-wrapper {
//         .page-height {
//             height: 600px;
//         }
//         .head-page {
//             .space {
//                 margin-top: 60px;
//             }
//         }
//         h2 {
//             color: #24A6DF;
//             font-size: 26pt;
//         }
//         h3 {
//             font-size: 24pt;
//         }
//         h4 {
//             font-size: 10pt;
//         }
//         p {
//             font-size: 8pt;
//         }
//         .report-grid {
//             margin-top: 20px;
//             margin-bottom: 20px;
//             .grid {
//                 .title {
//                     font-size: 14pt;
//                     span {
//                         font-size: 8pt;
//                     }
//                 }
//                 .count {
//                     font-size: 65pt;
//                 }
//             }
//         }
//         .table thead th {
//             font-size: 16pt;
//         }
//         table td,
//         .table th {
//             font-size: 16pt;
//         }
//         .table-wrapper {
//             h6 {
//                 font-size: 16pt;
//             }
//         }
//         .table.table-sm thead th {
//             font-size: 10pt;
//         }
//     }
// }
// @media screen and (max-width: 1080px) {
//     .report-wrapper {
//         .page-height {
//             height: 600px;
//         }
//         .head-page {
//             .space {
//                 margin-top: 40px;
//             }
//         }
//         h2 {
//             color: #24A6DF;
//             font-size: 20pt;
//         }
//         h3 {
//             font-size: 18pt;
//         }
//         h4 {
//             font-size: 12pt;
//         }
//         p {
//             font-size: 10pt;
//         }
//         .report-grid {
//             margin-top: 20px;
//             margin-bottom: 20px;
//             .grid {
//                 .title {
//                     font-size: 12pt;
//                     span {
//                         font-size: 7pt;
//                     }
//                 }
//                 .count {
//                     font-size: 45pt;
//                 }
//             }
//         }
//         .table thead th {
//             font-size: 12pt;
//         }
//         table td,
//         .table th {
//             font-size: 12pt;
//         }
//         .table-wrapper {
//             h6 {
//                 font-size: 12pt;
//             }
//         }
//         .table.table-sm thead th {
//             font-size: 12pt;
//         }
//     }
// }
@media screen and (max-width: 991px) {
  .table {
    table-layout: initial;
  }

  // .report-wrapper {
  //     .report-grid {
  //         flex-wrap: wrap;
  //         .grid {
  //             width: calc(50% - 15px);
  //             margin-top: 30px;
  //             max-width: 100%;
  //             flex: initial;
  //         }
  //     }
  // }
}


.shifttimencreated {
  display: flex;
  justify-content: space-between;
  background: #1975B8;
  padding: 10px 15px;
  color: #BFE7F6;
  border-radius: 5px;
  margin-top: 40px !important;


  .shifttime,
  .created {
    h4 {
      margin: 0 0 5px 0;
      color: #fff;
      font-weight: 400;
    }

    span {
      color: #BFE7F6;
    }
  }

  .repname {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      font-weight: 400;
      color: #fff;
    }
  }
}

.export {
  //display: flex;
  justify-content: end;
  margin: 10px 0;
  text-align: right;
}

.rescustom {
  margin-top: 19px !important;
}

.shifttime {
  h4 {
    @include second-heading;
  }
}

.created {
  @include title-text;

  h4 {
    margin-bottom: 0 !important;
  }
}

.datareport {
  h3 {
    @include second-heading;
    text-transform: capitalize;
    margin-bottom: 10px !important;
  }
}

.mat-expansion-panel:hover {
  background: transparent !important;
}

.padding20 {
  h4 {
    @include title-text;
  }

  li {
    @include regular-text;
  }
}

.count {
  @include regular-text;
}

.shifttimencreated {
  border-radius: 4px !important;
}

.mat-card-subtitle {
  margin-bottom: 0 !important;
}

.mat-card {
  padding: 20px !important;
}

.datareport {
  padding-bottom: 0 !important;
}

.sc_que {
  margin-top: 30px;
  margin-bottom: 0 !important;

  ol {
    margin-top: 10px;
    margin-bottom: 0 !important;
  }
}

.symp {
  margin-top: 25px;

  ol {
    margin-top: 10px;
    margin-bottom: 0 !important;
  }
}


.number_details {
  margin: 20px 20px 30px 0;
  display: flex;
  justify-content: space-between;

  .resident {
    background-color: #E9F9FE;
    /*height: 80px;*/
    border-radius: 5px;

    &.mr-20 {
      margin-right: 20px !important;
    }

    .text {
      padding: 15px;

      h3 {
        @include heading-font;
        color: #1D78BE;
        margin: 0 !important;
      }

      span {
        @include regular-text;
        color: #1D78BE;
      }
    }
  }
}

.table {
  thead {
    th {
      @include semibold-text;
    }
  }

  tbody {
    td {
      @include regular-text;
    }
  }
}

.mat-expansion-panel-header {
  @include second-heading;
}

.table-responsive {
  margin-top: 30px !important;
}

.rescustom {
  margin-top: 15px !important;
}

.content_detail {
  width: 100%;
  margin-top: 20px;

  .unit_que {
    width: 25%;
    display: inline-block;

    p {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      @include regular-text;
    }
  }

  .unit_ans {
    width: 60%;
    display: inline-block;

    p {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      @include semibold-text;
    }
  }
}

.sc_que {
  width: 100%;
  margin-top: 30px;
  padding-left: 24px;

  .que {
    width: 40%;
    display: inline-block;
    //margin-top: 10px;

    p {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      @include regular-text;
    }
  }

  .ans {
    width: auto;
    display: inline-block;    
    p {
      margin-top: 5px !important;
      margin-bottom: 5px !important;
      @include semibold-text;
    }
  }
}

.header-fixed-table-wrpper {
  width: 100%;

  tbody {
    tr {
      td {
        &.blood {
          @include regular-text;
          font-weight: 400 !important;
          width: 20%
        }

        &.content {
          @include semibold-text;
          width: 20%
        }
      }
    }
  }
}

.btn_module {
  @include btn-module;
  margin-left: 5px !important;
}

.custom_font {
  justify-content: space-between;
  @include title-text;
}

.custom_text {
  @include regular-text;
}

.message_text {
  @include regular-text;
}

.btn_Secondary {
  @include btn-main;

  &.mr-15 {
    margin-right: 15px;
  }
}

.Symtomsdata {
  padding-left: 24px;
  @include regular-text;

}


.include_susp_custm {
  p {
    padding-right: 10px;
  }
}

.Shiftreportclass {
  width: 45%;
  padding: 20px;

  .mat-dialog-container {
    overflow: visible !important;

    h3 {
      @include second-heading-medium;
      margin: 0;
    }
  }
}

.custom_font {

  h3 {
    @include second-heading-medium;
  }
}

.custom_font {

  h3 {
    font-size: 20px !important;
    font-family: 'SFProDisplay-bold' !important;
  }
}

.pop_heading {
  margin-bottom: 25px;

  h3 {
    margin: 0;
  }

  .font_style {
    @include secondary-text-regular;
  }
}

.suspendUsers {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .switch_ann_header {
    display: flex;
    align-items: center;
    margin-left: 15px;

    p {
      @include regular-text;
      margin: 0;
    }

    span {
      padding-left: 10px;

      .mat-slide-toggle-bar {
        &:hover {
          .mat-slide-toggle-persistent-ripple {
            opacity: 0;
          }
        }
      }
    }
  }
}

.calendrform {
  position: absolute;
  right: 0;
  top: auto;
  font-size: 21px;
  color: #757575;
}

.calendrformfall {
  position: absolute;
  right: 0;
  top: auto;
  font-size: 16px;
  color: #757575;
}

.calender_icon.calendrformfall.mat-icon.notranslate.material-icons.mat-icon-no-color {
  width: 17px !important;
}

.shift_detail {
  width: 170px;
  height: 170px;
  border: 1px solid #24A6DF;
  padding: 5% 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin: 10px 15px;
}
.table-bordered {
  border: 1px solid #E5E5E5;
}
.table-border-color {
  border-right: 1px solid #E5E5E5;
}


tbody{
  .value{
      text-align: center;
  }
  td{
      @include secondary-text-regular
  }
}
thead{
  td{
      @include secondary-title
  }
}

table {
  border-collapse: collapse;
}
.table td, .table th {
  padding: .75rem;
  vertical-align: middle;
  border-top: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
  height: 50px;
}
thead tr th {
  border: 0 !important;
}

.census-grids {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.censusgrid {
  max-width: calc(25% - 1.8vh);
  width: 24%;
  // border: 1px solid #b6ddef;
  background: #e9f9fe;
  padding: 10px;
  border-radius: 5px;
}
.censusgrid2 {
  max-width: calc(1050% - 1.8vh);
  width: 100%;
  border: 1px solid #b6ddef;
  // background: #e9f9fe;
  padding: 10px;
  border-radius: 5px;
}
.countab {
  display: flex;
  font-size: 5.5vh ;
  font-family: "SFProDisplay-Bold" !important;
  color: #1d78be;
}
.count2 {
  font-size: 3.5vh;
  font-family: "SFProDisplay-Bold" !important;
  margin: 17px 0px 0px 0px;
}
.totalresi {
  font-size: 1.8vh;
  color: #1d78be;
  font-family: 'SFProText-Regular' !important;
  margin: 0;
}
.goalresi{
  font-size: 1.8vh;
  font-family: 'SFProText-Regular' !important;
  margin: 0;
}
.text-grey {
  color: #58595B;
}
.text-red {
  color: #EF4036 !important;
}
.text-green {
 color: #25d505 !important;
}

.time_css{
  margin-bottom: 20px !important;
  padding: 0px !important;
}

img.custom-calendarsvg {
  position: absolute;
  width: 1em;
  margin-top: -50px;
  margin-left: 20.5rem;
}
.usernameAlign{
  text-align: right;
}

.export_image {
  height: 36px;
  cursor: pointer;
  margin-left: 10px;
}

.export_imagepdf {
  height: 45px;
  cursor: pointer;
  margin-left: 2px;
}
.export_imagepdf_unselect {
  height: 45px;
  margin-left: 2px;
}