<!DOCTYPE html>
<html lang="en">


<head>
    <title>Style Guideline</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <!-- header section start -->
    <header class="header_section">
       
            <h1> Font style Guideline </h1>
       
    </header>
    <!-- header section end -->
    <!-- body section start -->
    <div class="content_wrapper">
        <div class="container">
            <h1> H1 Heading </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. </p>
            <h2>H2 Heading</h2>
            <p class="second"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. </p>
            <h3>H3 Heading</h3>
            <p class="third"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis. Aenean dictum tortor sit amet molestie aliquet. </p>
            <h4>First Description</h4>
            <p class="third"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis.</p>
            <h5>Second Description</h5>
            <p class="third"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis.</p>
            <h6>Third Description</h6>
            <p class="third"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus aliquet venenatis.</p>
            <div class="text_detail">
                <div class="container p-0">
                    <div class="second_detail">
                        <p class="mb-0 ml-3">Text smaller than 20pt</p>
                    </div>
                    <div class="final">
                        <h1>Title Text</h1>
                        <h2>Sub Title Text</h2>
                        <h3>Body Title</h3>
                        <h4>Secondary Title</h4>
                        <h5>Secondary Text</h5>
                        <h6>Secondary Text</h6>
                        <p class="small mb-1">Small Text</p>
                        <p class="Smallest mb-0">Smallest Text</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- body section end -->
    <!--footer section-->
    <footer>
        <div class="copyright text-center">
            <p class="mb-0">© 2020 Copyright : evey.com</p>
        </div>
    </footer>
    <!--footer section end-->
</body>

</html>
