<form #f="ngForm">
  <mat-card >
    <mat-card-header class="d-flex justify-content-between align-center">
      <mat-card-title>{{paramId?'Edit Asset':'Add Asset'}}
      </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>            

     <div class="d-flex justify-content-between form-row mt-10">
        
        <div class="w-100 pr-15">
          <mat-form-field class="w-100">
            <input matInput placeholder="Asset Name" name="name" [(ngModel)]="assets.name"
               required>
          </mat-form-field>
        </div>
        
        <div class="w-100 pr-15">
          <mat-form-field class="w-100">
            <input matInput placeholder="Serial No" name="serial_no" [(ngModel)]="assets.serial_no"
               required>
          </mat-form-field>
        </div>
      
      </div>

      <div class="d-flex justify-content-between form-row mt-10">
        
        <div class="w-100 pr-15">
          <mat-form-field class="w-100">
            <mat-label>Asset Type</mat-label>
            <mat-select [(ngModel)]="assets.type" name="type" required>
                <ngx-mat-select-search [(ngModel)]="typeSearch" placeholderLabel="Select Type" noEntriesFoundLabel="Not Found" name="search"></ngx-mat-select-search>
                <mat-option *ngFor="let item of typeList |stringFilterBy:typeSearch:'displayName'" [value]="item._id"> {{item.displayName}} </mat-option>
            </mat-select>               
          </mat-form-field>
        </div>

        <div class="w-100 pr-15">
          <mat-form-field class="w-100">
            <mat-label>NFC</mat-label>
            <mat-select [(ngModel)]="assets.nfc" name="nfc" required (openedChange)="openSelectDropdown($event)">
                <ngx-mat-select-search [(ngModel)]="nfcSearch" placeholderLabel="Select NFC" noEntriesFoundLabel="Not Found" name="search"></ngx-mat-select-search>
                <mat-option *ngFor="let item of nfclist |stringFilterBy:nfcSearch:'ntagid'" [value]="item._id" (click)="assignNFC(item)"> {{item.ntagid}} </mat-option>
            </mat-select>       
          </mat-form-field>
        </div>     
      </div>  
      <div class="d-flex justify-content-between form-row pt-15 pb-15">
        <div class="w-50 pr-15">
          <mat-card class="border-card margin-bottom15">
            <mat-card-header>
              <mat-card-title class="ann_heading">Zones</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul class="beacon-listing">
                <li *ngFor="let item of zoneList">
                  <span class="user-name">
                    {{item.room}}
                  </span>
                  <div class="d-flex justify-content-end">
                    <span>
                        <mat-icon class="removeicon" (click)="unassignZone(item)">remove_circle</mat-icon>
                    </span>
                  </div>
                </li>
              </ul>

              <mat-form-field class="w-100">
                <mat-label>
                  Select an Unassigned Zones</mat-label>
                <mat-select [(ngModel)]="zone" name="zones" [ngModelOptions]="{standalone: true}">
                  <ngx-mat-select-search [(ngModel)]="typeSearch" placeholderLabel="Select Zones"
                    noEntriesFoundLabel="Not Found" name="search"></ngx-mat-select-search>
                  <mat-option *ngFor="let item of zones |stringFilterBy:typeSearch:'room'"
                    [value]="item._id" [attr.data-hidden]="checkDuplicate(item)" (click)="assignZone(item)">
                    {{item.room}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </mat-card-content>
          </mat-card>
        </div>

        <div class="w-50 pr-15">
          <mat-card class="border-card margin-bottom15">
            <mat-card-header>
              <mat-card-title class="ann_heading">Beacons</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul class="beacon-listing">
                <li *ngFor="let item of beaconlist">
                  <span class="user-name">
                    {{item.name}}
                  </span>
                  <div class="d-flex justify-content-end">
                    <span>
                      <mat-icon class="removeicon" (click)="unassignBeacon(item)">remove_circle</mat-icon>
                    </span>
                  </div>
                </li>
              </ul>
        
              <mat-form-field class="w-100">
                <mat-label>
                  Select an Unassigned Beacon</mat-label>
                <mat-select [(ngModel)]="beacon" name="beacons" [ngModelOptions]="{standalone: true}">
                  <ngx-mat-select-search [(ngModel)]="beaSearch" placeholderLabel="Select Beacons"
                    noEntriesFoundLabel="Not Found" name="search"></ngx-mat-select-search>
                  <mat-option *ngFor="let item of beacons |stringFilterBy:beaSearch:'name'" [value]="item._id"
                    [attr.data-hidden]="beaconlist.indexOf(item._id) > -1 ? true: false" (click)="assignBeacon(item)">
                    {{item.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        
            </mat-card-content>
          </mat-card>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <div class="d-flex justify-content-between btn_detail">
    <button mat-flat-button color="warn" (click)="cancel()" class="btn_main_cancle btn_cancel">Cancel</button>
    <button *ngIf="_commonService.checkPrivilegeModule('assets',privilege)" mat-flat-button color="primary" class="ml-10" (click)="addAsset(f)" class="btn_main_done btn_done">Done</button>
  </div>
</form>