<!-- <div class="spinner-wrapper-login" *ngIf="loader">
    <mat-spinner class="spinner__container" mode="indeterminate"></mat-spinner>
</div> -->

<div class="login-page">
    <div class="content">
        <form #f="ngForm" class="login-form" *ngIf="setpwdform">
            <div class="text-center">
                <h2 class="app-name mb-15"><img src="assets/logo/logo.svg" /></h2>
                <!-- <h2 class="mt-0 mb-15">Set Password</h2> -->
                <div>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>New Password</mat-label>
                        <input matInput [type]="'password'" id="showpass" name="password"
                            placeholder="Enter New Password" [(ngModel)]="setNewPassword.password"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~#^$@$!%*?&]).{6,}"
                            (keypress)="checkAlpha($event)" required>
                        <mat-icon matSuffix *ngIf="!isshowPassword" (click)="showPassword()">visibility</mat-icon>
                        <mat-icon matSuffix *ngIf="isshowPassword" (click)="showPassword()">visibility_off</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput [type]="'password'" name="conpassword" placeholder="Enter Confirm Password"
                            [(ngModel)]="setNewPassword.conpassword"
                            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[~#^$@$!%*?&]).{6,}"
                            (keypress)="checkAlpha($event)" required>
                        <div *ngIf="passwordNotMatch" class="invalid-password">Password doesn't match</div>
                    </mat-form-field>
                    <div class="d-flex text-left light-blue info-text"><i class="material-icons mr-10">info</i>Password
                        should be at least six characters and include a minimum of one uppercase and lowercase letter,
                        one number and one character.</div>

                    <div>
                        <button mat-raised-button color="primary" class="mt-20 btn_login"
                            (click)="onSubmit(f,setNewPassword)">Done</button>
                    </div>
                    <p class="color-grey small-font">© 2020 Koble Technologies</p>
                    <p class="color-grey small-font">Evey™ is a Trade Mark of Koble Technologies.</p>
                </div>
            </div>
        </form>
        <form #sf="ngForm" class="login-form" *ngIf="setphraseform">
            <div class="text-center">
                <h2 class="app-name"><img src="assets/logo/logo.svg" /></h2>
                <!-- <h2 class="mt-0">Set Security Phrase</h2> -->
                <div>
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Security Phrase</mat-label>
                        <input matInput type="text" id="showpass" name="securityphrase"
                            placeholder="Enter Security Phrase" [(ngModel)]="setNewPassword.securityphrase" required>
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Confirm Security Phrase</mat-label>
                        <input matInput type="text" name="consecurityphrase" placeholder="Enter Confirm Security Phrase"
                            [(ngModel)]="setNewPassword.consecurityphrase" required>
                        <div *ngIf="securityphraseNotMatch" class="invalid-password">Security Phrase doesn't match
                        </div>
                    </mat-form-field>

                    <div>
                        <button mat-raised-button color="primary" class="mt-20 btn_login"
                            (click)="onSubmitSF(sf,setNewPassword)">Done</button>
                    </div>
                    <p class="color-grey small-font">© 2020 Koble Technologies</p>
                    <p class="color-grey small-font">Evey™ is a Trade Mark of Koble Technologies.</p>
                </div>
            </div>
        </form>
    </div>
</div>