@import "./../../../../styles/_cstm-variable.scss";

.mat-column-org_name,
.mat-column-facility,.mat-column-sector {
    text-transform: capitalize;
}

.btn_Secondary{
  margin:0 0 0 5px !important;
  @include btn-main;
}

span.iconalign a {
  cursor: pointer;
}