<mat-card class="view-height ">
  <mat-card-header>
    <mat-card-title>Link Order Resident
    </mat-card-title>
    <br>
    <mat-card-subtitle class="w-100 mb-0">
      <div class="d-flex justify-content-between align-center">

        <!-- search record -->
        <div class="w-30 pr-15">
          <mat-form-field class="w-100">
            <mat-label>Folder Name</mat-label>
            <mat-select [(ngModel)]="folderNameSelect" (selectionChange)="changeFolderName($event)">
                <mat-option *ngFor="let filters of folderNameList" [value]="filters.key" >
                  {{filters.value}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="w-70 pl-15">
          <div class="example-button-row text-right w-100">
            <ng-container>
            </ng-container><br><br>
          </div>
        </div>
      </div>

    </mat-card-subtitle>
  </mat-card-header>
  <br><br>

  <mat-card-content class="view-height-center">
    <div *ngIf="orderArray.length > 0">
      <form class="example-form custom_font" [formGroup]="orderForm" #formDirective="ngForm">
        <div class="row only-flex-wrap">
          <ng-container *ngFor="let item of orderArray; let i = index;">
            <div class="col-md-3">
              <mat-card class="mat-card-image">
                  <mat-card-header>
                  </mat-card-header>
                  
                  <img class="mat-image-card" [src]="item.thumbnailUrl" alt="">
                  <mat-card-content>
                      <mat-form-field class="w-100">
                        <mat-label>Folder Name</mat-label>
                        <mat-select formControlName="folder_id">
                            <ngx-mat-select-search formControlName="folderName" [(ngModel)]="folderNameSearch" placeholderLabel="Folder Name" noEntriesFoundLabel="Not Found"
                              name="search"></ngx-mat-select-search>
                            <mat-option *ngFor="let filters of moveFolderList |stringFilterBy:folderNameSearch:'value'" [value]="filters.key" >
                              {{filters.value}}
                            </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </mat-card-content>
                
                  <mat-card-actions class="justify-content-between">
                    <button mat-flat-button color="primary" class="mr-10 btn_main_done"
                      (click)="moveOrderFn(item._id, orderForm.valid, formDirective)">
                        Move Order
                    </button>
                    <ng-container *ngIf="item.folderName == 'medications'">
                      <button mat-flat-button color="primary" class="mr-10 btn_main_done"
                        (click)="addMedication(item)">
                          Add Medication
                      </button>
                    </ng-container>
                   
                  </mat-card-actions>
                
              </mat-card>
            </div>
        </ng-container>
        </div>
      </form>
    </div>
   
    <div style="text-align: center; color: #969393" *ngIf="orderArray.length === 0">
        No Data Found
    </div>

  </mat-card-content>

  <mat-card-actions *ngIf="data.length > 0">
    <mat-paginator [length]=count [pageSize]=pagiPayload.pageSize [pageSizeOptions]="[5, 10, 50, 100, 500]"
      [pageIndex]=pagiPayload.pageIndex (page)="getServerData($event)"></mat-paginator>
  </mat-card-actions>

</mat-card>

<button mat-mini-fab color="primary" class="toptoscroll" *ngIf="isShow" (click)="gotoTop()">
  <mat-icon>keyboard_arrow_up</mat-icon>
</button>