@import "./../../../../styles/_cstm-variable.scss";

.example-card {
  max-width: 400px;
  // max-height: 100vh;
}
.image-card {
  margin: 15px;
  border: 10px solid  rgba(233, 30, 30, 0.12);
}
.mat-card-image {
  margin: 5px
}

.mat-card-image {
  margin: 5px;
  margin-left: 0;
  margin-bottom: 40px;
}
.mat-image-card {
  width: 300px;
  height: 300px;
}
.only-flex-wrap{
  flex-wrap: wrap;
}

.example-header-image {
  background-size: cover;
}

.choose-field {
  opacity: 0;
  visibility: hidden;
  overflow: visible;
  position: absolute;
  z-index: -9999;
  display: none;
}

.care_level {
  width: 218px !important;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.count {

  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

.resident_name {
  width: 218px !important;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

}

span.iconalign a {
  cursor: pointer;
}

.choose-btn {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  background-color: #1975B8;
  color: white;
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 5px;
  overflow: visible;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #28A5DE;
  }
}

.mat-column-name,
.mat-column-facility {
  text-transform: capitalize;
}

.medication_btn {

  border: 1px solid #999 !important;
  @include button-text;

}

.upload-btn {

  @include button-text;

}

.cdk-column-actions .mat-mini-fab:nth-child(2) {
  margin: 0px 0px 0 10px !important;
}

.main_btn {

  @include btn-main;


}

.ml-3 {

  margin-right: 10px !important;

}

.secondary_btn {


  @include btn-secondary;
}
